---
interface Props {
  title?: string
  description?: string
}
const { title = 'zhangyu1818', description = 'zhangyu1818的博客' } = Astro.props
---

<head>
  <title>{title}</title>
  <meta charset="utf-8" />
  <meta name="description" content={description} />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1"
  />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
</head>
