---
import { getLangFromUrl } from '@utils'
/**
 * TODO official i18n
 * https://github.com/withastro/roadmap/issues/701
 */

const lang = getLangFromUrl(Astro.url)
---

<html lang={lang}>
  <slot name="head" />
  <body class="bg-background font-sans text-foreground">
    <slot />
  </body>
</html>

<style is:global>
  @import '../../global.css';
</style>
