<html lang="zh-Hans">
  <slot name="head" />
  <body class="text-foreground">
    <div class="theme-bg fixed inset-0 -z-10"></div>
    <slot />
  </body>
</html>

<style is:global>
  @import '../../global.css';
</style>
