---
import HeadLayout from '@layouts/base/HeadLayout.astro'
import HtmlLayout from '@layouts/base/HtmlLayout.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import PageContainer from '@components/PageContainer.astro'
import PostItem from '@components/PostItem.astro'

import { queryPostsFromIssues } from '@services'

const {
  repository: {
    issues: { nodes },
  },
} = await queryPostsFromIssues({ withContent: false })
---

<HtmlLayout>
  <HeadLayout slot="head" />
  <Header sticky />
  <PageContainer>
    <section class="w-full py-12">
      {
        nodes.map(item => (
          <PostItem
            title={item.title}
            number={item.number}
            labels={item.labels.nodes}
            createdAt={item.createdAt}
          />
        ))
      }
    </section>
  </PageContainer>
  <Footer />
</HtmlLayout>
