---
import Social from './Social.astro'
---

<footer
  class="mt-12 min-h-screen w-screen border-t border-accents-3 bg-accents-1 text-accents-6 dark:border-0"
>
  <div class="m-auto flex max-w-[800px] flex-col gap-32 px-8 py-32">
    <h2 class="text-6xl">Get in Touch.</h2>
    <p class="px-4 text-5xl">
      If you'd like to explore more of my content, click on the social media links below or
      subscribe to my RSS feed.
    </p>
    <Social simple />
  </div>
  <p class="m-auto max-w-[800px] px-16 py-2 text-center text-xs text-accents-5">
    <span class="block">Copyright © zhangyu1818</span>
    <span class="block">Made with Astro 🚀</span>
  </p>
</footer>
