---
import Wave from './Wave.astro'
import ThemeSwitcher from './ThemeSwitcher.astro'

export interface Props {
  wave?: boolean
}

const { wave } = Astro.props

const links = [
  ['/', 'Home'],
  ['/post', 'Posts'],
  ['/tags', 'Tags'],
]

const currentPath = `/${Astro.url.pathname.split('/')[1]}`
---

<nav class="flex w-full flex-wrap items-center px-[calc(50%_-_400px)]">
  <h1 class="relative hidden sm:block">
    <a
      class:list={[
        'relative z-10 block py-6 text-xl font-bold',
        { 'text-white mix-blend-difference px-6': wave },
      ]}
      href="/">zhangyu.dev</a
    >
    {wave && <Wave />}
  </h1>
  <ul class="mr-4 flex flex-1 gap-4 py-6 text-accents-5 sm:mr-12 sm:justify-end md:mr-6 md:gap-8">
    {
      links.map(([path, name]) => (
        <li>
          <a
            class:list={[
              'hover:text-foreground transition',
              {
                'text-foreground font-semibold ': currentPath === path,
              },
            ]}
            href={path}
          >
            {name}
          </a>
        </li>
      ))
    }
  </ul>
  <ThemeSwitcher />
</nav>
