---
import { getLangFromUrl, langPrefix, useTranslations, normalizeUrl } from '@utils'

import Wave from './Wave.astro'
import ThemeSwitcher from './ThemeSwitcher.astro'
import LanguageSwitcher from './LanguageSwitcher.astro'

export interface Props {
  wave?: boolean
}

const { wave } = Astro.props

const lang = getLangFromUrl(Astro.url)
const [addPrefix] = langPrefix(lang)
const t = useTranslations(lang)

const links = [
  [addPrefix('/'), t('nav.home')],
  [addPrefix('/post'), t('nav.posts')],
  [addPrefix('/tags'), t('nav.tags')],
]

const currentPath = normalizeUrl(Astro.url.pathname)
---

<nav class="flex w-full flex-wrap items-center px-[calc(50%_-_400px)]">
  <h1 class="relative hidden sm:block">
    <a
      class:list={[
        'relative z-10 block py-6 text-xl font-bold',
        { 'px-6 text-white mix-blend-difference': wave },
      ]}
      href={addPrefix('/')}>zhangyu.dev</a
    >
    {wave && <Wave />}
  </h1>
  <ul class="mr-4 flex flex-1 gap-4 py-6 text-accents-5 sm:mr-12 sm:justify-end md:mr-6 md:gap-8">
    {
      links.map(([path, name]) => (
        <li>
          <a
            class:list={[
              'transition hover:text-foreground',
              {
                'font-semibold text-foreground ': currentPath === path,
              },
            ]}
            href={path}
          >
            {name}
          </a>
        </li>
      ))
    }
  </ul>
  <ThemeSwitcher />
  <LanguageSwitcher />
</nav>
