---
import Wave from './Wave.astro'

export interface Props {
  sticky?: boolean
  wave?: boolean
}

const { sticky, wave } = Astro.props

const links = [
  ['/', 'Home'],
  ['/post', 'Posts'],
  ['/tags', 'Tags'],
]

const currentPath = `/${Astro.url.pathname.split('/')[1]}`
---

<nav
  class:list={[
    'flex flex-wrap px-[calc(50%_-_400px)] w-full items-center bg-background justify-between',
    { 'sticky top-0': sticky },
  ]}
>
  <h1 class="relative">
    <a
      class:list={[
        'relative z-10 block p-6 text-xl font-bold',
        { 'text-white mix-blend-difference': wave },
      ]}
      href="/">zhangyu.dev</a
    >
    {wave && <Wave />}
  </h1>
  <ul class="flex gap-8 py-6 text-accents-5">
    {
      links.map(([path, name]) => (
        <li>
          <a
            class:list={[
              'hover:text-foreground transition',
              { 'text-foreground font-semibold': currentPath === path },
            ]}
            href={path}
          >
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
