---
import Section from './Section.astro'
import { queryDiscussions } from '@services'
import { formatDate, getLangFromUrl, langPrefix, useTranslations } from '@utils'
import ItemContainer from './ItemContainer.astro'
import Icon from './Icon.astro'

const lang = getLangFromUrl(Astro.url)
const [addPrefix] = langPrefix(lang)
const t = useTranslations(lang)

const discussions = await queryDiscussions({ first: 3, lang })
---

<Section display="flex">
  <span class="flex-1" slot="title">{t('latest.posts.name')}</span>
  <a
    href={addPrefix('/post')}
    class="flex cursor-pointer items-center text-sm text-accents-5 hover:underline"
    slot="title"
  >
    {t('latest.posts.more')}
    <Icon class="ml-1" name="chevrons-right" />
  </a>
  {
    discussions!.map(item => {
      const labels = item.labels.nodes
      const date = formatDate(item.createdAt, lang)
      return (
        <a href={addPrefix(`/post/${item.number}`)}>
          <ItemContainer>
            <span class="flex items-center text-xs text-accents-5">
              <Icon class="mr-2" name="calendar" />
              {date}
            </span>
            <p class="text-sm font-semibold">{item.title}</p>
            <div>
              {labels.map(label => (
                <span class="mr-2 py-1 text-xs text-accents-4">#{label.name}</span>
              ))}
            </div>
          </ItemContainer>
        </a>
      )
    })
  }
</Section>
