---
const { class: className } = Astro.props
---

<div class:list={['markdown-body !bg-transparent', className]}>
  <slot />
</div>

<style is:global>
  @import 'github-markdown-css/github-markdown.css';
</style>
