---
import Markdown from './Markdown.astro'
import Social from './Social.astro'

import { parseMarkdown } from '@utils'
import { queryProfileREADME } from '@services'

const {
  repository: {
    object: { text },
  },
} = await queryProfileREADME()

const markdown = await parseMarkdown(text, false)
---

<section class="flex flex-col gap-8">
  <Markdown class="flex-1">
    <div class="text-sm" set:html={markdown} />
  </Markdown>
  <Social />
</section>
