---
import Markdown from './Markdown.astro'
import Social from './Social.astro'

import { parseMarkdown, getLangFromUrl } from '@utils'
import { queryProfileREADME } from '@services'
import { defaultLanguage } from '@i18n/languages'

const lang = getLangFromUrl(Astro.url)
const fileSuffix = lang === defaultLanguage ? '' : lang

const {
  repository: {
    object: { text },
  },
  // query from master branch
} = await queryProfileREADME(fileSuffix)

const markdown = await parseMarkdown(text, false)
---

<section class="flex flex-col gap-8">
  <Markdown class="flex-1">
    <div class="text-sm" set:html={markdown} />
  </Markdown>
  <Social />
</section>
