<button
  id="theme-switcher"
  aria-label="theme switch"
  class="relative h-[18px] w-[18px] leading-[0] before:absolute before:left-1/2 before:top-1/2 before:z-10 before:h-3.5 before:w-3.5 before:translate-x-[-50%] before:translate-y-[-50%] before:rounded-full before:bg-background before:content-['_'] after:absolute after:-inset-3 after:content-['_']"
>
  <span
    class="theme-block inline-block h-full w-full bg-accents-8 after:absolute after:inset-0 after:rotate-45 after:bg-inherit after:content-['_'] dark:bg-accents-4"
  ></span>
  <span class="absolute inset-0 z-20 overflow-hidden rounded-full">
    <i
      class="theme-symbol block h-full w-full after:absolute after:left-1/2 after:top-1/2 after:z-20 after:h-2.5 after:w-2.5 after:translate-x-[-50%] after:translate-y-[-50%] after:rounded-full after:bg-accents-8 dark:after:bg-accents-4"
    ></i>
  </span>
</button>

<style is:global>
  .theme-block {
    transform: rotate(0);
    transition: transform 1.2s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  .theme-symbol {
    transform: scale(1.5) translateX(-25%);
    transition: transform 0.5s ease-out;
  }

  .dark .theme-block {
    transform: rotate(180deg);
  }
  .dark .theme-symbol {
    transform: scale(1) translateX(0%);
  }
</style>

<script is:inline>
  const storageTheme = localStorage.getItem('theme')

  const darkQuery = window.matchMedia('(prefers-color-scheme: dark)')

  let currentShouldDark = darkQuery.matches

  let isDark =
    (currentShouldDark && (storageTheme === null || storageTheme === 'auto')) ||
    storageTheme === 'dark'

  setClass(isDark)

  function toggleTheme() {
    isDark = !isDark
    setClass(isDark)
    const next = isDark
      ? currentShouldDark
        ? 'auto'
        : 'dark'
      : currentShouldDark
      ? 'light'
      : 'auto'

    localStorage.setItem('theme', next)
  }

  function setClass(dark) {
    document.documentElement.classList[dark ? 'add' : 'remove']('dark')
  }

  darkQuery.onchange = e => {
    const current = localStorage.getItem('theme')
    if (current === 'auto') {
      isDark = e.matches
      setClass(isDark)
    }

    if (e.matches) {
      currentShouldDark = true
    }
  }

  const btn = document.querySelector('#theme-switcher')
  btn.onclick = () => {
    toggleTheme()
  }
</script>
