@media (prefers-color-scheme: dark) {
  img,
  [role='img'] {
    filter: brightness(0.8);
  }

  :root {
    --foreground: #fff;
    --background: #000;
    --accents-8: #fafafa;
    --accents-7: #eaeaea;
    --accents-6: #999;
    --accents-5: #888;
    --accents-4: #666;
    --accents-3: #444;
    --accents-2: #333;
    --accents-1: #111;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #000;
    --background: #fff;
    --accents-1: #fafafa;
    --accents-2: #eaeaea;
    --accents-3: #999;
    --accents-4: #888;
    --accents-5: #666;
    --accents-6: #444;
    --accents-7: #333;
    --accents-8: #111;
  }
}
