---
import Header from '@components/Header.astro'
import PageContainer from '@components/PageContainer.astro'
import HeadLayout from '@layouts/base/HeadLayout.astro'
import HtmlLayout from '@layouts/base/HtmlLayout.astro'
import TagList from '@components/Tags.astro'
import Footer from '@components/Footer.astro'

import { getLangFromUrl, useTranslations } from '@utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<HtmlLayout>
  <HeadLayout slot="head" />
  <PageContainer class="min-h-[60vh]">
    <Header />
    <div class="flex flex-col gap-10">
      <h2 class="text-2xl">{t('all.tags')}</h2>
      <TagList />
    </div>
  </PageContainer>
  <Footer />
</HtmlLayout>
