@import '~@primer/primitives/dist/scss/colors/light';
@import '~@primer/primitives/dist/scss/colors/dark';

// primer css variables
:root {
  --color-bg-light: #fff;
  --color-bg-dark: #0d1117;

  @include primer-colors-light;

  --color-fade-fg-current: var(--color-fade-white-10);

  @media (prefers-color-scheme: dark) {
    @include primer-colors-dark;
    --color-fade-fg-current: rgba(21, 21, 21, 0);
  }

  &.light {
    @include primer-colors-light;
    --color-fade-fg-current: var(--color-fade-white-10);
  }
  &.dark {
    @include primer-colors-dark;
    --color-fade-fg-current: rgba(21, 21, 21, 0);
  }
}
