@import '~nprogress/nprogress.css';
@import '~@primer/css/markdown';

@import './colors';
@import './gitalk';
@import './code-highlight';
@import './tailwind-base-preflight';

@tailwind utilities;

body {
  color: var(--color-text-primary);
  &::before {
    content: '';
    @apply fixed block inset-0 duration-700 transition-none ease-in-out-quart;
    z-index: -1;
    background: linear-gradient(
        to bottom left,
        var(--color-bg-dark) 50%,
        var(--color-bg-light) 0,
        var(--color-bg-light) 100%
      )
      no-repeat;
    background-size: 300vw 300vh;
    .dark & {
      background-position: 100%;
    }
    .light & {
      background-position: 0;
    }
  }
  &.apply-transition::before {
    transition-property: background-position;
  }
}

.dark img {
  filter: grayscale(30%);
}

.markdown-body {
  max-width: 846px;
  a {
    color: var(--color-text-link);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  code {
    &:after,
    &:before {
      letter-spacing: -0.2em;
      content: ' ';
    }
  }
  h1,
  h2 {
    transition-property: border-bottom-color;
    @apply duration-700 ease-in-out-quart;
  }
  .highlight pre {
    @apply transition-colors duration-100;
    * {
      transition: none;
    }
  }
}

#nprogress .bar {
  background: #0366d6 !important;
}
