@keyframes slide-in {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.mask-shadow {
  background: linear-gradient(to top, var(--color-fade-fg-current), var(--color-bg-canvas));
  pointer-events: none;
  &.hide {
    visibility: hidden;
  }
  &.show {
    visibility: visible;
  }
}
